/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 19-Nov-2022, 09:25:26
    Author     : madal
*/

body{
    background-color:white;
   margin:0;
    
}
h1{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 3em;
    text-align: center;
    
}
#searchBar{
    float: right;
    padding-right: 10px;
}
img{
    max-width: 100%;
}

h3{
    color:grey;
    text-decoration: none;
}
h4{
    color:#c8b6d5;
    
}
.logo a{
    text-decoration: none;
    color:white;
}

li{
    text-decoration: none;
}
div {
    text-align: center;

}

.logo img{
    margin-left: 52em;
}
/*start of navigation bar css */
.topnav{
        display: flex;
	   background-color: green;
	   overflow:hidden;
}

nav{
	background-color:black;
	padding:0.5em;
   
}

.topnav a:hover{
	background-color:#ddd;
	color: black;
        
}
.topnav input{
	text-align:left;
}
.search input{
    background-color:#d1cdcd;
}
.input input{
    font-size: 1em;
    background-color: #d1cdcd;
}
.topnav a 		
		{
		text-decoration: none;		
		color: black;
		padding: 1em;
		}
#topNavP{
    margin-left: 30px;
    color: black
}

.grid container{
	display:grid;
	text-align:centre;
	grid-template-columns:1/1;
	margin:80%;
        text-align: center;
}

@media only screen and (mix-width:990px){
.grid-container{ /* Creating the grid */
        width: 80%;
        margin: auto; 
        display: grid;
        grid-template-columns: auto;      
        }
.grid-container{
        display: grid;
        grid-template-columns:repeat(12,8.3%);
         width: 80%;
        }
.nav{
  grid-column-start: 1;
  grid-column-end: 10;
}
    .input{
    grid-column-start: 10;
    grid-column-end: 13;
}

.footer a{
    text-decoration: none;
    text-align:center;
    color:black;
}
.footer h4{
    text-align:center;
}
.facebook{
    grid-column: 5/6;
}
.insta{
    grid-column:6/8;
}
.hero{
    grid-column: 1/10;
}
.footer{
    
    grid-column: 1/12;
}

.grid-container{
    grid-template-columns: 100%;
    display:grid;
}
.h1{
    text-align: center;
    color :black;
    font-size: 1em;
}
.address{
    text-align: center;
}
.hiking{
    grid-column: 1/9;
}


.running{
    grid-column: 1/4;
    
}
.swim{
    grid-column: 1/4;
}
.hiking{
    grid-column: 9/11;
}
}
body {
transition: 1.5s;
}
.night-toggle {
width: 33px;
height: 33px;
right: 20px;
top: 20px;
position: absolute;
}
.night-toggle:hover{
cursor: pointer;
}
.moon {
background-color: transparent;
box-shadow: -6px 1px 0 3px #275e8e;
border-left:3px solid #27476D;
border-radius:50%;
width: 20px;
height: 20px;
margin-left:8px;
margin-top:0px;
transition: 2s;
}
.sun {
background-color: #fdd462;
box-shadow: 2px 0px 0px 1px #D19C29;
border-radius:50%;
width: 26px;
height: 26px;
transition: 2s;
}
/* ----- optional ----- */
.break {
flex-basis: 100%;
height: 0;
}
.opt {
display: flex;
flex-wrap: wrap;
justify-content:center;
font-family: sans-serif;
margin-top:5%;
text-align:center;
}
.footer {
                background-color: black;
                padding-bottom: 10%;
                color: black;
                padding: 1em;
                text-align: center;
                    }

            .footer, .footer p{
                text-align: center;
                padding: 10px;
                background-color: green;
                color: black;
                grid-column-start: 1;
                grid-column-end: 13;
            }

            .social-icon,
            .menu {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                flex-wrap: wrap;
                color: white;
                    }

            .social-icon__item,
            .menu__item {
                list-style: none;
                    }

            .social-icon__link {
                font-size: 2rem;
                color: #fff;
                margin: 0 10px;
                display: inline-block;
                transition: 0.5s;
                    }

            .social-icon__link:hover {
                transform: translateY(-10px);
                    }

            .menu__link {
                font-size: 1.2rem;
                color: #fff;
                margin: 0 10px;
                display: inline-block;
                transition: 0.5s;
                text-decoration: none;
                opacity: 0.75;
                font-weight: 300;
                    }

            .menu__link:hover {
                opacity: 10;
                    }

